<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Event Registration</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-cloak>
  <div class="container">
    <div class="navbar">
      <div class="navbar-text">
        <ul class="nav">

        </ul>
      </div>
    </div>
    <div ng-controller="EventController">
      <img ng-src="{{event.imageUrl}}" alt="{{event.name}}">
      <div class="row">
        <div class="col-xs-11">
          <h2 ng-style="mystyle" ng-bind-template="{{event.name}} {{event.date}}">{{event.name}}</h2>
        </div>
      </div>

      <button class="btn" ng-disabled="buttonDisabled">Disabled</button>

      <div ng-non-bindable>{{1 + 2}}</div>

      <div ng-bind-html="snippet">some title</div>

      <h2 ng-class="myclass" ng-show="boolValue">Show this</h2>
      <h2 ng-hide="boolValue">Hide this</h2>

      <div class="row">
        <div class="col-xs-3">
          <div><strong>Date:</strong> {{event.date}}</div>
          <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="col-xs-4">
          <address>
            <strong>Address:</strong><br>
            {{event.location.address}}<br>
            {{event.location.city}}, {{event.location.province}}
          </address>
        </div>
      </div>

      <hr>
      <h3>Sessions</h3>
      <ul class="list-unstyled">
        <li ng-repeat="session in event.sessions">
          <div class="session row media">
            <div class="votingWidgetwell  pull-left text-center">
              <div class="votingButton" ng-click="upVoteSession(session)">
                <i class="glyphicon-chevron-up glyphicon"></i>
              </div>
              <div class="badge">
                <div>{{session.upVoteCount}}</div>
              </div>
              <div class="votingButton" ng-click="downVoteSession(session)">
                <i class="glyphicon-chevron-down glyphicon"></i>
              </div>
            </div>
            <div class="well col-xs-9">
              <h4>{{session.name}}</h4>
              <h6>{{session.creatorName}}</h6>
              <div>Duration: {{session.duration}}</div>
              <div>Level: {{session.level}}</div>
              <p>{{session.abstract}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/EventController.js"></script>
</body>
</html>